
<main>
    <div class="hello">
        <h1>BUMPER SALE!!!!<br>99.999999% OFFF!!!!!!</h1>
    </div>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, qui rem? Quis ipsum impedit quos, corrupti et perspiciatis magnam nulla vel, enim consectetur aspernatur natus aliquam aperiam eligendi assumenda eum!</p>

    <br>
    <br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut amet tenetur a ratione tempora molestias laudantium aspernatur, ducimus modi nulla, ipsum veniam in dicta, doloremque necessitatibus officiis aliquam voluptas omnis?</p>

    <button class="btn-route
    ">Hello</button>

</main>